<div class="products">
    {{#each products}}
        <div class="product">
            <a href="/products/{{this._id}}"><img src="{{this.image}}" alt="{{this.name}}"></a>
            <h3>{{this.name}}</h3>
            <p>{{this.price}}</p>
            <div class="actions">
                <a href="/products/{{this._id}}">Detalhes</a>
                <a href="/products/edit/{{this._id}}">Editar</a>
            </div>
        </div>
    {{/each}}
</div>